@page "/"

<UseGetAuthors Context="result">
    <ChildContent>
        @if (result?.Authors is not null)
        {
             <ul>
            @foreach (var item in result.Authors)
            {
                <li>@item?.FirstName @item?.LastName</li>
            }
            </ul>
        }    
    </ChildContent>
    <ErrorContent>
        Something went wrong ...<br />
        @result.First().Message
    </ErrorContent>
    <LoadingContent>
        Loading ...
    </LoadingContent>
</UseGetAuthors>
